$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$footer-bg-color: #262324;
$header-bg-color: #262324;
$footer-color: grey;

// bower:scss
// @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  margin: 0;
}
* {
  font-family: arial, sans-serif;
}
table {
  border: 2px solid #d9d9d9;
}

td, th {
  border: 1px solid #d9d9d9;
  padding: 10px;
  border-right:none;
  background:white;
}

th:last-child, td:last-child {
  border-right: 1px solid #d9d9d9;
}

.container {
  padding: 0;
  width: 100%;
  .header {
    .tabs {
      padding-left: 20px;
      height: 40px;
      margin: 0;
      background-color: $header-bg-color;
      li {
        padding-right: 20px;
        display: inline;
        a {
          position: relative;
          font-size: 13px;
          line-height: 40px;
          color: white;
          text-decoration: none;
        }
      }
      .active a {
        color: #EEC600;
        .carrot {
          position: absolute;
          top: 28px;
          left: 50%;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid $header-bg-color;
          margin-left: -5px;
        }
      }
    }

    .tab-panel {
      padding-left: 20px;
      background-color: #f4f4f4;
      margin: 0;
      height: 60px;
      border-bottom: solid 1px #d9d9d9;
      .logo-cba-black {
        display: inline-block;
        background-image: url(/assets/logo-cba-black.png);
        background-repeat: no-repeat;
        background-position: left;
        height: 60px;
        width: 233px;
        padding-right: 30px;
        border-right: solid 1px #d9d9d9;
      }
      li {
        display: inline-block;
        float: left;
        a {
          line-height: 60px;
          text-decoration: none;
          color: grey;
        }
      }
      li:not(:first-child) {
        padding-left: 30px;
        padding-right: 50px;
        border-left: solid 1px white;
        border-right: solid 1px #d9d9d9;
      }
    }
  }
  h2 {
    font-weight: bold;
    padding-left: 2%;
  }
  table {
    width: 96%;
    margin: 10px auto;
  }
  .footer {
    padding-top: 10px;
    background-color: $footer-bg-color;
    color: $footer-color;
    position: fixed;
    bottom: 0;
    width: 100%;

    .logo-cba-black {
      background-size: contain;
      margin-left: 30px;
      float: left;
      height: 50px;
      width: 200px;
      background-image: url(/assets/logo-cba-white.png);
      background-repeat: no-repeat;
    }

    .footer-social {
      float: right;
      li {
        display: inline-block;
        height: 30px;
        width: 50px;
      }
      .youtube {
        background-image: url(/assets/icon-youtube.png);
        background-repeat: no-repeat;

      }
      .facebook {
        background-image: url(/assets/icon-facebook.png);
        background-repeat: no-repeat;

      }
      .linkedin {
        background-image: url(/assets/icon-linkedin.png);
        background-repeat: no-repeat;

      }
      .twitter {
        background-image: url(/assets/icon-twitter.png);
        background-repeat: no-repeat;

      }
      .googleplus {
        background-image: url(/assets/icon-googleplus.png);
        background-repeat: no-repeat;

      }
      .blog {
        background-image: url(/assets/icon-blog.png);
        background-repeat: no-repeat;

      }
      .community {
        background-image: url(/assets/icon-community.png);
        background-repeat: no-repeat;

      }
    }
    .footer-menu {
      font-size: 13px;
      clear: both;
      list-style-type: none;
      li {
        display: inline;
        border-left: solid 1px $footer-color;
        padding: 0 10px;
      }
      li:first-child {
        border-left: none;
        padding-left: 0;
      }
    }
  }
}
